*{
    margin: 0;
   font-family: 'Work Sans', sans-serif;

}
.navbar{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #a37ce2;
    position:sticky;
    top:0%;
}
.info{
    display:flex;
    flex-wrap: wrap;
}
.navbar img{
    width:30%;
    border:2px solid rgba(47, 25, 156, 0.007);
    border-radius: 70px;
    margin: 10px 20px 10px 0px;
}
.navbar img:hover{
    letter-spacing: 0.1rem;
    transition: letter-spacing 1s ease-in-out;
}
.navbar h3:hover{
    background: linear-gradient(45deg, #074d75, #22a7a0 ,#0d3c72, #7c1ad8, #A7489B);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
}
.navbar li:hover {
  background: linear-gradient(45deg, #141414, #830bb3 ,#7021d8, #dd228f, #A7489B);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
}
.navbar a,
.navbar .contact {
  text-decoration: none;
  color: rgba(9, 1, 19, 0.781);
  padding-bottom: 3px;
}
.navbar a:hover {
  border-bottom: 1px solid white;
}

* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 90%; background-color: #04AA6D;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 65%; background-color: #f44336;}
.php {width: 60%; background-color: #808080;}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  margin: 5px;
  padding: 15px;
  border-radius: 4px;
}
.grid-item {
  padding: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin: 5px;
}
.title {
  color: #2525bd;
  font-size: 4vh;
}
.hr {
  color: #1f1f2e;
  margin-bottom: 5px;
}
.grid-item h4 {
  color: #4040c0;
  margin: 5px;
  font-size: 4vh;
}
.grid-item p {
  font-family: cursive;
  margin: 2px;
  margin-bottom: 10px;
}
.label {
  margin: 10px;
  padding: 5px;
  color: rgb(207, 209, 230);
  background-color: rgb(86, 55, 226);
  font-size: 3vh;
  border-radius: 5px;
  border-style: none;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grid-item-3,
.grid-item-4 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.pp {
  margin: 30px;
}
.links {
  text-decoration: none;
  color: #340f70;
  transition: 0.5s;
}
.links:hover {
  font-size: 4.5vh;
  border-bottom: solid 2px #5050ca;
}

.footer {
  display: flex;
  background-color: rgb(15, 4, 4);
  justify-content: space-around;
  height: 20vh;
  align-items: center;
  margin-top: 25px;
}

.footer div:hover{
  background: linear-gradient(90deg, #00ccff, #4910a3, #058fff ,#741fd4, #ee4248, #d53567);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  transition: 5s ease-in-out;
}
.fab,
.far,
.fas {
  font-size: 0.65rem;
  font-weight: 0.65rem;
  padding: 8px 11px;
  font-size: 1.3rem;
  width: max-content;
  color: rgb(23, 217, 231);
  border-radius: 100%;
}

@media screen and (max-width: 700px) {
  .grid-item-1,
  .grid-item-2,
  .grid-item-5,
  .grid-item-6,
  .grid-item-7,
  .grid-item-8{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer{
      color: #612d91;

  }
  .responsive {
    align-item: center;
  }

  .navbar li {
    margin: 10px;
  }
}